button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  background: #4d4d4d;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: default;

  &:hover {
    color: black;
    outline: 0.05em solid grey;
    z-index: 3;
  }
}

.jumbo {
  width: 160px;
}

.clearStyle {
  background: #ac3939;
}

.operatorStyle {
  background: #666;
}

.equalsStyle {
  background: #046;
  position: absolute;
  height: 130px;
  bottom: 5px;
}
